<div class="containerBoton">
    <input type="checkbox" id="btn-mas">
    <div class="btn-mas">
        <a id='boton' for="btn-mas" class="fa fa-car" href="/profile"></a>
    </div>
</div>
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <div class="letrasHeader">
            <h4>
                Reciclemos y ayudemos a nuestro planeta con ayuda de la tecnologia 
            </h4>
            <h2></h2>
        </div>
    </div>
</header>
<main>
    <section class="contenedor sobre-nosotros">
        <div class="jumbotron">
            <h1 class="display-4">Recolectora</h1>
            <p class="lead">Después de crear tu cuenta debes de llenar el perfil como empresa recolectora, este tiene el permiso
                de buscar y reciclar en rutas que estén registradas y disponibles para poder recolectar los elementos.
                Las rutas las buscas dentro de tu localidad.
            </p>
            <p>Encontraras lugares que tengas elementos de reciclaje que te puedan servir.</p>
            <a class="btn btn-lg text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">Proceso</a>
            <div id="accordion">
                <div class="card collapseQuestions">
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list"
                                            data-toggle="list" href="#list-home" role="tab" aria-controls="home">¿Como
                                            puedo usar rutas?</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                            data-toggle="list" href="#list-profile" role="tab"
                                            aria-controls="profile">¿Cuanto cuesta un pasaje?</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list"
                                            data-toggle="list" href="#list-messages" role="tab"
                                            aria-controls="messages">¿Cual es el proceso para encontrar una ruta?</a>
                                        <a class="list-group-item list-group-item-action" id="list-settings-list"
                                            data-toggle="list" href="#list-settings" role="tab"
                                            aria-controls="settings">¿Que significa Estados de ruta?</a>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                            aria-labelledby="list-home-list">Debes de crear tu cuenta con un usuario, un
                                            correo y una contraseña dentro del aplicativo. Después debes de generar tu
                                            perfil como pasajero
                                            para poder
                                            buscar y usar rutas que estén disponibles y cerca a ti.</div>
                                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                            aria-labelledby="list-profile-list">El precio de un pasaje debe de estar
                                            igual o menor
                                            que el del transporte público que usas, ya que son varias personas las que
                                            pagan la ruta. Uno de los principios de
                                            comodify es la comodidad que se le pueda ofrecer a las persona.
                                        </div>
                                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                            aria-labelledby="list-messages-list">Después de crear tu perfil como
                                            pasajero, busca el nombre de tu comuna y barrio en la barra de búsqueda
                                            ejemplos: Manrique las esmeraldas, Belén san bernardo, te saldrán
                                            rutas disponibles con el nombre de la ubicación donde esperan a los
                                            pasajeros dentro de tu localidad y los lugares en que pueden trasladar
                                            pasajeros. Selecciona la ruta que te sirva y selecciona tu destino.
                                            Conéctate los días de ruta para estar informad@ del estado de tu ruta para
                                            usarla.</div>
                                        <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                            aria-labelledby="list-settings-list">Los estados de ruta son los que te van
                                            a informar sobre el desarrollo de tu viaje, desde que el conductor se dirige
                                            al sitio de encuentro para informarle a los pasajeros que se pueden
                                            trasladar para iniciar el viaje. Mediante un mensaje que dice:
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">
                                                "EN CAMINO HACIA EL LUGAR DE
                                                ENCUENTRO"
                                            </p>
                                            Otro estado que significa que el conductor está en espera de pasajeros:
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">
                                                "EN ESPERA DE PASAJEROS"
                                            </p>
                                            Y el último que significa que ya se han marchado del sitio de encuentro
                                            hacia los destinos seleccionados.
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">
                                                "EN MARCHA HACIA LOS
                                                DESTINOS"
                                            </p>
                                            Al terminar la ruta aparece el mensaje
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">
                                                "ACTIVIDAD DE RUTA"</p>
                                            Cuando el conductor no esta disponible aparece el mensaje
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">"NO
                                                ESTOY DISPONIBLE"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portafolio">
        <div class="contenedor">
            <div class="contenedor1">
                <div class="contenedor-cards">
                    <div class="contenedor-card-item">
                        <div class="contenedor-card-item-wrapper">
                            <img src="../img/empresa.jpg" alt="">
                            <div class="contenedor-info">
                                <div class="info">
                                    <p class="tituloC">Empresa</p>
                                    <span class="categoria">Sé quien recicla y ayuda al planeta y a tu comunidad.</span>
                                </div>
                                <div class="fondo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-card-item">
                        <div class="contenedor-card-item-wrapper">
                            <img src="../img/recolectores.jpg" alt="">
                            <div class="contenedor-info">
                                <div class="info">
                                    <p class="tituloC">Recolectores</p>
                                    <span class="categoria">Sé quien recolecta el reciclaje y tiene una vida mas digna.</span>
                                </div>
                                <div class="fondo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contenedor sobre-nosotros">
        <div class="jumbotron alreves">
            <h1 class="display-4">Empresa</h1>
            <p class="lead">Después del registro, debes de llenar el perfil como empresa, este tiene el permiso
                de crear recolecciones, y de registrar los lugares en que se tengan para que las aprovechadoras o recicladoras
                pasen a recogerlos allí y poder obtener aglunas ganancias con el reciclaje.
            </p>
            <p>Debes tener presente, para que te lleguen recolectores considera tener un precio cómodo para el bolsillo.
            </p>
            <a class="btn btn-lg text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">Proceso</a>
            <div id="accordion">
                <div class="card collapseQuestions">
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-profile1" role="tabpanel"
                                            aria-labelledby="list-profile1-list">Después de que tu verificación sea
                                            positiva, puedes crear tu ruta seleccionando el botón de "CREAR RUTA", llena
                                            claramente toda la información solicitada. Y este atent@ en la medida en
                                            que te vayan llegando pasajeros para iniciar tu ruta. Puedes eliminarla y
                                            actualizarla desde que estés al día con las condiciones.</div>
                                        <div class="tab-pane fade" id="list-messages1" role="tabpanel"
                                            aria-labelledby="list-messages1-list">Comodify te cobrará la suma de 12.000
                                            pesos solo cuando llegues a ese valor. Nosotros únicamente contaremos el 10%
                                            de la suma de
                                            los precios que tienes de todos tus ocupantes.
                                        </div>
                                        <div class="tab-pane fade" id="list-settings1" role="tabpanel"
                                            aria-labelledby="list-settings1-list">
                                            Los estados de ruta son responsabilidad del conductor, Existes 5 estados los
                                            cuales son:<br>
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">1- En
                                                camino hacia el lugar de encuentro</p>
                                            Este es cuando sales al lugar donde recoges a las personas, para que ellas
                                            sepan que ya se pueden trasladar al sitio concertado
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">2- En
                                                espera de pasajeros</p>
                                            Este es cuando te encuentras en el sitio concertado y no han llegado todos
                                            los pasajeros antes de la hora de salida. Informas que aun estas en el
                                            sitio.
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">3- En
                                                marcha hacia los destinos</p>
                                            Este es cuando sales con todos los pasajeros hacia los destinos
                                            seleccionados.
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">4-
                                                Finalizo la ruta</p>
                                            Este es cuando se baja el último pasajero de tu vehículo.
                                            <p style="color: rgb(0, 77, 177); font-size: 2.7vh; font-weight: 900;">5-
                                                No estoy disponible el dia de hoy</p>
                                        </div>
                                        <div class="tab-pane fade" id="list-denuncia1" role="tabpanel"
                                            aria-labelledby="list-denuncia1-list">
                                            Significa que te han inhabilitado por un mal servicio o no pagaste tus
                                            12.000
                                            pesos oportunamente. Te informamos con más detalles dentro de tu perfil.
                                        </div>
                                        <div class="tab-pane fade" id="list-documentos" role="tabpanel"
                                            aria-labelledby="list-documentos-list">
                                            Cuando hallas creado tu cuenta de conductor debes de subir tus archivos solo
                                            una unica vez, en
                                            total son 4. Ingresa a tu cuenta en el siguiente boton y subelos.
                                            <br><br>
                                            <button type="button" class="btn blue darken-4"><a href="/profile"
                                                    class="text-white">Ingresar</a></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                            data-toggle="list" href="#list-profile1" role="tab"
                                            aria-controls="profile1">¿Como
                                            puedo crear rutas?</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages1-list"
                                            data-toggle="list" href="#list-messages1" role="tab"
                                            aria-controls="messages1">¿Comodify me cobra?</a>
                                        <a class="list-group-item list-group-item-action" id="list-settings1-list"
                                            data-toggle="list" href="#list-settings1" role="tab"
                                            aria-controls="settings1">¿Que significa Estados de ruta?</a>

                                        <a class="list-group-item list-group-item-action" id="list-denuncia1-list"
                                            data-toggle="list" href="#list-denuncia1" role="tab"
                                            aria-controls="denuncia1">¿Por que esta deshabilitada mi ruta?</a>

                                        <a class="list-group-item list-group-item-action" id="list-documentos-list"
                                            data-toggle="list" href="#list-documentos" role="tab"
                                            aria-controls="documentos">Subir documentos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2021 Todos los Derechos Reservados | <a href="">Comodify</a>
            </div>
            <div class="information">
                <a href="/politics">Políticas de Privacidad</a>
            </div>
        </div>
    </div>
</footer>