<section class="contenedor sobre-nosotros">
    <div class="jumbotron">
        <h1 class="display-4">Políticas de Privacidad</h1>
        <p class="lead">La aplicación Comodify es para dispositivos moviles, regida por la ley
            colombiana y los presentes Términos y condiciones que se pueden encontrar en el registro de la
            cuenta de usuario. Los cuales obliga a respetar desde el momento de ingreso al sitio. Si el
            usuario no esta de acuerdo con los Términos y condiciones presentados debera no registrarse en
            Comodify.
        </p>
        <p>Encontrarás rutas que compartirás con otras personas en auto o en motocicleta hasta tu destino.</p>
        <a class="btn btn-lg text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">Leer</a>
        <div id="accordion">
            <div class="card collapseQuestions">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="tab-content" id="nav-tabContent">
                                <p>En Comodify la aplicación de la normativa vigente en materia de protección de
                                    datos de carácter
                                    personal, informa que los datos personales que se recogen a través de los
                                    formularios del
                                    aplicativo:
                                    Comodify, se incluyen en los ficheros automatizados específicos de usuarios de
                                    los servicios
                                    de rutas.
                                    La recogida y tratamiento automatizado de los datos de carácter personal tiene
                                    como finalidad la
                                    prevención, detección, monitoreo, seguridad, mantenimiento
                                    y el desempeño de los procesos propios de Comodify.
                                    Estos datos serán cedidos a entidades que los necesiten con urgencia ejemplo
                                    policia,
                                    emergencias si ocurre alguna situación compleja.</p>
                                <br>
                                Comodify adopta las medidas necesarias para garantizar la seguridad, integridad y
                                confidencialidad de los datos conforme a lo dispuesto en la LEY ESTATUTARIA 1581 DE
                                2012, todas las personas a conocer, actualizar y rectificar las informaciones que se
                                hayan
                                recogido sobre ellas en bases de datos o archivos. El ejercicio de estos derechos puede
                                realizarlo el propio usuario a través de
                                email a: info@comodify.com. El usuario manifiesta que todos los datos facilitados por él
                                son
                                ciertos y correctos, y se compromete a mantenerlos actualizados al editar su perfil,
                                </p>
                                <p class="terminos"><strong>¿Con qué finalidad trataremos tus datos personales?</strong>
                                </p>
                                <p>En Comodify, trataremos tus datos personales recabados a través del
                                    aplicativo,
                                    con las
                                    siguientes finalidades:
                                    <br>
                                    1. En caso de rutas ofertadas a través de
                                    Comodify, para mantener la relación contractual, así como la gestión,
                                    administración,
                                    información, prestación y
                                    mejora del servicio.
                                    2. Envío de información solicitada a través de los formularios dispuestos en
                                    Comodify.
                                    <br>
                                    Los campos de diferentes registros como el de pasajero, conductor, rutas son de
                                    cumplimentación
                                    obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan
                                    esos datos
                                    requeridos.
                                </p>
                                <p class="terminos"><strong>¿Por cuánto tiempo se conservan los datos personales
                                        recabados?</strong>
                                </p>
                                <p>Los datos personales proporcionados se conservarán mientras se mantenga la
                                    relación o uso de los servicios prestados.
                                    Legitimación:<br>
                                    El tratamiento de tus datos se realiza con las siguientes bases jurídicas que
                                    legitiman el
                                    mismo:
                                    <br>
                                    1. La solicitud de información y/o la contratación de los servicios de
                                    Comodify, cuyos términos y condiciones se pondrán a tu disposición en todo caso, de
                                    forma previa
                                    a una eventual uso del servicio.
                                    2. El consentimiento libre, específico, informado e inequívoco, en tanto que te
                                    informamos
                                    poniendo a tu disposición la presente política de privacidad, que tras la lectura de
                                    la misma,
                                    en caso de
                                    estar conforme, puedes aceptar mediante una declaración o una clara acción
                                    afirmativa, como el
                                    marcado de una casilla
                                    dispuesta al
                                    efecto, cuando creas tu cuenta.
                                    <br>
                                    En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta,
                                    no podremos
                                    atender tu solicitud,
                                    resultando del todo imposible proporcionarte la información solicitada o llevar a
                                    cabo el uso de
                                    los servicios.
                                    Destinatarios:
                                    Los datos no se comunicarán a ningún tercero ajeno a Comodify, salvo
                                    obligación legal.
                                     Puede consultar la política de privacidad y demás aspectos legales de la compañía
                                    en el
                                    siguiente
                                    enlace: www.comodify.digital/politics
                                    Datos recopilados por usuarios de los servicios
                                    En los casos en que el usuario incluya ficheros con datos de carácter personal en
                                    los servidores de alojamiento
                                    compartido, DigitalOcean no se hace responsable del
                                    incumplimiento por parte del
                                    usuario del RGPD.
                                    <br>
                                    La comunicación de datos a las Fuerzas y Cuerpos del Estado se hará en virtud a lo
                                    dispuesto en la normativa sobre
                                    protección de datos personales.
                                </p>
                                <p class="terminos"><strong>Derechos propiedad intelectual Comodify</strong>
                                </p>
                                <p>
                                    Comodify es titular de todos los derechos de autor,
                                    propiedad intelectual, industrial,
                                    "know how" y cuantos otros derechos guardan relación con los contenidos del sitio
                                    web Comodify y los
                                    servicios ofertados en el mismo, así como de los programas necesarios para su
                                    implementación y la información
                                    relacionada.
                                    No se permite la reproducción, publicación y/o uso no estrictamente privado de los
                                    contenidos, totales o parciales, del
                                    sitio web Comodify sin el consentimiento previo y por
                                    escrito.
                                </p>
                                <p class="terminos"><strong>Propiedad intelectual del software</strong>
                                </p>
                                <p>
                                    El usuario debe respetar los programas de terceros puestos a su disposición por
                                    Comodify, aun
                                    siendo gratuitos y/o de disposición pública.
                                    Comodify dispone de los derechos de explotación y propiedad
                                    intelectual necesarios del software.
                                    El usuario no adquiere derecho alguno o licencia por el servicio contratado, sobre
                                    el software necesario para la prestación
                                    del servicio, ni tampoco sobre la información técnica de seguimiento del servicio,
                                    excepción hecha de los derechos y
                                    licencias necesarios para el cumplimiento de los servicios contratados y únicamente
                                    durante la duración de los mismos.
                                    Para toda actuación que exceda del cumplimiento del contrato, el usuario necesitará
                                    autorización por escrito por parte de
                                    Comodify, quedando prohibido al usuario acceder, modificar,
                                    visualizar la configuración,
                                    estructura y ficheros de los servidores propiedad de
                                    DigitalOcean, asumiendo la responsabilidad
                                    civil y penal derivada de cualquier incidencia que se pudiera producir en los
                                    servidores y sistemas de seguridad como
                                    consecuencia directa de una actuación negligente o maliciosa por su parte.
                                    Propiedad intelectual de los contenidos alojados
                                    Se prohíbe el uso contrario a la legislación sobre propiedad intelectual de los
                                    servicios prestados por Comodify y, en particular de:
                                    • La utilización que resulte contraria a las leyes colombianas o que infrinja los
                                    derechos de terceros.
                                    • La publicación o la transmisión de cualquier contenido que, a juicio de
                                    Comodify, resulte
                                    violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.
                                    • Los cracks, números de serie de programas o cualquier otro contenido que vulnere
                                    derechos de la propiedad
                                    intelectual de terceros.
                                    • La recogida y/o utilización de datos personales de otros usuarios sin su
                                    consentimiento expreso o contraviniendo.
                                    Relativo a la protección de las personas físicas en lo que respecta al tratamiento
                                    de datos personales y a la libre
                                    circulación de los mismos.
                                    • La utilización del servidor de correo del dominio y de las direcciones de correo
                                    electrónico para el envío de
                                    correo masivo no deseado.
                                    El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas
                                    que tienen que ver con el
                                    funcionamiento del servicio online, comercio electrónico, derechos de autor,
                                    mantenimiento del orden público, así como
                                    principios universales de uso de Internet.
                                    Comodify realiza copias de seguridad de los contenidos alojados en sus servidores,
                                    sin
                                    embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por
                                    parte de los usuarios. De igual
                                    manera, no garantiza la reposición total de los datos borrados por los usuarios, ya
                                    que los citados datos podrían haber
                                    sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la
                                    última copia de seguridad.
                                    En el caso de usuarios con los que exista una relación contractual previa, Comodify
                                    sí está
                                    autorizado al envío de comunicaciones comerciales referentes a productos o servicios
                                    de
                                    Comodify que sean similares a los que inicialmente fueron objeto de contratación con
                                    el cliente.
                                    En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le
                                    haga llegar más información comercial a
                                    través de los canales de Atención al Cliente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>