<div class="spinner" id="loader"></div>
<div class="container p-2">
    <div class="card text-center" id="soatF">
        <div class="card-header">
          SOAT
        </div>
        <div class="card-body">
            <h5 class="card-title">SOAT</h5>
            <form action="/soat" method="post" enctype="multipart/form-data" onsubmit="return validarSo()">
                <input type="file" name="soat" id="soat" accept="image/png,image/jpeg"><br><br>
                <input type="submit" value="subir" class="btn btn-primary btn-lg text-white" id="Bsoat">
            </form>
        </div>
        <div class="card-footer text-muted">
            <img src="../img/soat.png" alt="Descripción de la imagen" width="600" height="300">
        </div>
    </div>
</div>
<script>
    function validarSo() {
        var documents = $("#soat")[0].files.length;
        if (documents === 0) {
            swal.fire({
                title: "Escoge tu SOAT",
                text: "No tienes ningún archivo seleccionado",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        } else {
           document.getElementById("loader").style.display = "block";
        }
    }
</script>