<div class="row">
    <div class="col s12 m6">
      <div class="card blue darken-3">
        <div class="card-content white-text">
          <span class="card-title">!Felicidades¡ se subieron con exito</span>
          <p>Espera 24 horas para validarte como conductor, lo puedes validar en tu aplicación.</p>
        </div>
        <div class="card-action">
          <a href="/logout"><button type="button" class="btn blue-grey darken-2">Salir</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="img app">
    <img src="../img/change.png" alt="Descripción de la imagen" height="400" width="600">
||</div>