<div class="spinner" id="loader"></div>
<div class="container p-2">
    <div class="card text-center" id="vehiculoF">
        <div class="card-header">
            Vehículo
        </div>
        <div class="card-body">
            <h5 class="card-title">Vehiculo{{identificacion}}</h5>
            <form action="/vehiculo" method="post" enctype="multipart/form-data" onsubmit="return validarVe()">
                <input type="file" name="vehiculo" id="vehiculo" accept="image/png,image/jpeg"><br><br>
                <input type="submit" value="Subir" class="btn btn-primary btn-lg text-white" id="Bvehiculo">
            </form>
        </div>
        <div class="card-footer text-muted">
           <img src="../img/vehiculo.png" alt="Descripción de la imagen" width="600" height="300">
        </div>
    </div>
</div>
<script>
     function validarVe() {
        var documents = $("#vehiculo")[0].files.length;
        if (documents === 0) {
            swal.fire({
                title: "Escoge la foto de tu vehículo",
                text: "No tienes ningún archivo seleccionado",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }else{
            document.getElementById("loader").style.display = "block";
        }
    }
</script>