* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
}
#btn-mas{
  display: none;
}
.containerBoton{
  display: none;
}


/* Scroll*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1a4d99;
  border: 0px none #000000;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#29518aec;
 
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 88, 189, 0.911);
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Scroll*/

.botons{
  display: none;
}

.check{
  background-color: red !important; 
}

body {
  font-family: 'Encode Sans', sans-serif;
}

label{
  font-weight: 900;
}


.lik{
  display: none;
}


.ventanas{
  display: none;
}



.contenedor {
  padding: 9.6vh 0;
  width: 90%;
  max-width: 96160vh;
  margin: auto;
  overflow: hidden;
}
.contenedorP {
  padding: 9.6vh 0;
  width: 90%;
  max-width: 96160vh;
  margin: auto;
  overflow: hidden;
}


.titulo {
  color: #000000;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 9.6vh;
}

/* Header */

header {
  width: 100%;
  height: 95vh;
  background: #7db5ff;
  /* fallback for old browsers */
  background: url(../img/portada.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background:url(../img/tierra.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.navbar {
  background: black !important;
  padding: 5vh, 8vh, 0 0;
  font-weight: 100vh;
  text-decoration: none;
}
.nav-link {
  color: #fff !important;
  margin-right: 1vh;
  text-decoration: none;
  
}
.nav-link:hover{
      transform: scale(1.2);
      transition: all 0.3s ease;
}

.alreves{
  text-align: right;
}

.redesSociales{
  color: white;
  text-decoration: none;
  font-size: 6.049295774647887vh;
  transition: all 500ms ease;
  margin-right: 5%;
}

.redesSociales:hover{
  text-decoration: none;
}

.btn-lg{
 color: rgb(255, 255, 255);
 background-color: #1a4d99;
}

.btn-lg:hover{
  color: #ffffff;
  background-color: #0C63E0;
 }


header .textos-header{
  display: flex;
  height: 68vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 8vh;
  color:#fff;
}

.textos-header h2{
  font-size: 4.8vh;
  font-weight: 300;
  color:#fff;
}
/* About us */

main .sobre-nosotros{
  padding: 4.8vh 0 9.6vh 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3{
  margin-bottom: 2.4vh;
}

.contenido-textos h3 span{
  background: #1a4d99;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 4.8vh;
  height: 4.8vh;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 0.8vh;
}

.contenido-textos p{
  padding: 0px 0px 4.8vh 2.4vh;
  font-weight: 300;
  text-align: justify;
}

/* Galeria */


.portafolio{
  background: #f2f2f2;
}


.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 24%;
  margin-bottom: 11.6vh;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(273,91%,27%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

.img{
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0; 


}


#licenciaF{
  display: none;
}
/* Clients */

.cards{
  display: flex;
  justify-content: space-evenly;
}

.cards .card{
  background: #1a4d99;
  display: flex;
  width: 46%;
  height: 40vh;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards h4{
 font-weight: 500;
}

.cards .card img{
  width: 16vh;
  height: 16vh;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card{
  width: 60%;
  color: #fff;
}

.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 5px;
}


/*Buscador*/
.container-4{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 100%;
  height: 8vh;
  background: #2b303b;
  border: none;
  font-size: 2.4vh;
  float: left;
  color: #fff;
  padding-left: 2.4vh;
  -webkit-border-radius: 0.8vh;
  -moz-border-radius: 0.8vh;
  border-radius: 0.8vh;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-4 input#search:-ms-input-placeholder {  
  color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 0.8vh;
  -webkit-border-bottom-right-radius: 0.8vh;
  -moz-border-radius-topright: 0.8vh;
  -moz-border-radius-bottomright: 0.8vh;
  border-top-right-radius: 0.8vh;
  border-bottom-right-radius: 0.8vh;

  border: none;
  background: #232833;
  height: 8vh;
  width:  8vh;
  color: #fdfdfd;
  opacity: 0;
  font-size: 2.4vh;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -10vh;
}

.container-4:hover button.icon:hover{
  background: white;
}

/*Buscador*/

.addViaje{
  padding: 8%;
  font-size: 2.6vh;
  font-weight: 900;
}
  
.addViajeTitulo{
  padding: 5%;
  background: #f2f2f2;
}




.SeleccionarPrecios{
  display: none;
}

.estados{
  display: none;
}

.precio{
  font-size: 4vh;
  text-align: center;
}

.collapseQuestions{
  box-shadow: none;
}

.redondo{
  display: block;
    text-decoration: none;
    background: #22272c;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
    font-size: 4vh;
}

.redondo:hover{
  background: #ffffff;
  color: #22272c;
}

.letramensajes{
  font-size: 2.5vh;
}

table th {
  background-color: #00367c;
  color: white;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(34, 34, 34);
  display: none;
  z-index: 99;
  position: fixed;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.multa{
  display: none;
}
.mult{
  display: none;
}

.btM{
  display: none;
}

.solici{
  display: none;
}

#inferior{
  color: #FFF;
  background: #0d47a1;
  position:fixed; /*El div será ubicado con relación a la pantalla*/
  left:0px; /*A la derecha deje un espacio de 0px*/
  right:0px; /*A la izquierda deje un espacio de 0px*/
  bottom:0px; /*Abajo deje un espacio de 0px*/
  height:50px; /*alto del div*/
  z-index:0;
}

#inferior:hover{
  background: #0277bd;
}


.campo {
  position: relative;
}

.campo span {
  position: absolute;
  right: 10px;
  top: 1.6vh;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2px 10px;
}

.campo2 {
  position: relative;
}

.campo2 span {
  position: absolute;
  right: 10px;
  top: 1.6vh;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2px 10px;
}


.formStair {
  width: 40vh;
  margin: 0 auto;
  height: 8vh;
}

.formStair p {
  text-align: center;
}
.formStair label {
  font-size: 6vh;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.estre{
  width: 2vh;
  height: 2vh;
}

.demo{
  font-size: 6vh;
}

/*  Our team */

.about-services{
  background: #f2f2f2;
  padding-bottom: 4.8vh;
}

.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind{
  width: 28%;
  text-align: center;
}

.servicio-ind img{
  width: 90%;
}

.servicio-ind h3{
  margin: 10px 0;
}

.servicio-ind p{
  font-weight: 300;
  text-align: justify;
}

/* footer */

footer{
  background: #414141;
  padding: 9.6vh 0 4.8vh 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 8vh;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 0.8vh;
  margin-bottom: 1.6vh;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 3.84vh;
  margin: 3.2vh 0 0 0;
  color: #9e9797;
}

@media screen and (max-width:900px){
  .navbar{
    display: none;
  }
  header{
      background-position: center;
      background:url(../img/primeraP.png);
      background-size: cover;
      height: 100vh;

  }

  .contenedor-sobre-nosotros{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos{
      width: 90%;
  }

  .imagen-about-us{
      width: 90%;
  }

  /* Galeria */

  .imagen-port{
      width: 44%;
  }

  /* Clientes */

  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .cards .card{
      width: 90%;
  }

  .cards .card:first-child{
      margin-bottom: 4.8vh;
  }

  /* servicios */

  .servicio-cont{
      justify-content: center;
      flex-direction: column;
  }

  .servicio-ind{
      width: 100%;
      text-align: center;
  }

  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
      margin-bottom: 9.6vh;
  }

  .servicio-ind img{
      width: 90%;
  }
}

@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 4.8vh 0 0 0;
  }

  nav > a{
      margin-right: 0.8vh;
  }

  .textos-header h1{
      font-size: 5.6vh;
  }

  .textos-header h2{
      font-size: 3.2vh;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 9.6vh;
      width: 99%;
  }

  .sobre-nosotros .contenido-textos{
      width: 95%;
  }

  /* Galeria */

  .imagen-port{
      width: 95%;
  }

  /* Clients */

  .cards .card{
      height: 72vh;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cards .card img{
      width: 14.4vh;
      height: 14.4vh;
  }

}

/* Footer */
footer{
  width: 100%;
  background: #000000;
  color: white;   
  margin: 0px;
  padding: 0px;
  
}
.container-footer-all{
  width: 100%;
  max-width: 192vh;
  margin: auto;
  padding: 6.4vh;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 96vh;
}
.colum1 h1{
  font-size: 3.52vh;
  text-align: center;
  padding-bottom: 4%;
}
.colum1 p{
  text-align: justify;
}

.colum2{
  max-width: 96vh;
}

.colum2 img{
  width: 200px;
  height: 200px;
  margin-left:150px;
  margin-right:150px;
}


.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 211.26760563380282vh;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 3.5211267605633805vh;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}

.terminos{
  color: #000000;
  font-weight: 900;
}

.textos{
  font-size: 2.5vh;
}
















/*movil*/
@media screen and (max-width:900px){
  .contenedor{
    display: none;
  }
  footer{
    display: none;
  }
  .about-services{
    display: none;
  }
  #btn-mas{
    display: none;
}

.app{
  display: none;
}

.botons{
  display: block;
}

.masthead h1 {
  font-size: 2rem;
}

.masthead h2 {
  font-size: 1rem;
}

.datosCards{
  font-size: 2vh;
  font-weight: 500;
}

.lik{
  display: block;
  padding: 4%;
}

.ventanas{
  display: block;
}

.portafolio{
  display: block;
}

.portafolioCedulas{
  display: none;
}

.bobo{
  display: none;
}

.letrasHeader{
  display: none;
}


/*Boton de Ayuda lado derechos Inferior*/
.containerBoton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: block;
}
.redes a, .btn-mas a{
    display: block;
    text-decoration: none;
    background: #22272c;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas a{
    cursor: pointer;
    background: #22272c;
    font-size: 23px;
}
.btn-mas a:hover{
  background: #ffffff;
  color: #22272c;

}

}
.masthead {
  color: white;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 1.5rem;
  }
}


.contenedor1 {
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s ease-out;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
}

.contenedor-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contenedor-cards .contenedor-card-item {
	width: 40%;
	margin: 1%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #3E2723;
	border-radius: 5px;
}

.contenedor-card-item img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: -70px;
	-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenedor-card-item .contenedor-info .info {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .tituloC {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
	display: block;
	font-size: 2.5vh;
}

.contenedor-card-item:hover .contenedor-info {
	bottom: 0;
}

.contenedor-card-item:hover img {
	top: -30px;
	-webkit-transform: rotate(-5deg) scale(2);
	-ms-transform: rotate(-5deg) scale(2);
	-o-transform: rotate(-5deg) scale(2);
	transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 900px) {
	.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

	.contenedor-card-item .contenedor-info {
		bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.contenedor {
		width: 95%;
	}

	.contenedor-cards .contenedor-card-item {
		width: 48%;
		margin: 1%;
	}
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
	.contenedor {
		width: 90%;
	}
  
  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
	.contenedor {
		width: 100%;
	}
}





.waves{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:2vh;
  margin-bottom:-1.232394366197183vh; /*Fix for safari gap*/
  /*Altura de las olas*/
  min-height:10vh;
  max-height:20vh;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width:135.2112676056338vh) {
  .waves {
    height:7.042253521126761vh;
    min-height:7.042253521126761vh;
  }
  .content {
    height:29.929577464788732vh;
  }
}