<div class="p-4">
    <a href="/links/admin" class="text-white"><button type="button" class="btn red accent-4"><i
                class="fas fa-arrow-left"></i></button></a>
</div>
<div class="m-3 p-2">
    <form class="form-inline" action="/links/addManager" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="text" class="form-control" id="idUser" name="idUser" placeholder="Nuev@ administrador@">
        </div>
        <button type="submit" class="btn blue darken-4 mb-2">Añadir</button>
    </form>

</div>
<div class="m-3 p-2">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>IdUser</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {{#each administradores}}
            <tr>
                <td>{{id}}</td>
                <td>{{idUser}}</td>
                <td>
                    <form action="/links/adminDelete/{{id}}" class="ActionForm">
                        <button type="submit" class="btn  red darken-3"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </form>
            </tr>
            {{else}}
            <h4>No hay usuarios registrados</h4>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $('.ActionForm').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Confirmación',
            text: "¿De verdad quieres eliminar este administrador?",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#c51162',
            cancelButtonText: 'No, Eliminar',
            confirmButtonText: 'Si, Eliminar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        })
    });
</script>