<div class="containerBoton">
    <input type="checkbox" id="btn-mas">
    <div class="btn-mas">
        <a id='boton' for="btn-mas" class="fa fa-home" href="/profile"></a>
    </div>
</div>
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1>Puedes verificarlo en los datos de tu ruta</h1>
        <h3 class="mb-5">
            <p>Queda pendiente tu pago</p>
        </h3>
    </div>
</header>